.emojiContainer {
	@apply text-6xl bg-slate-100 px-3 py-6 rounded-xl cursor-pointer select-none;
}

.nameEmojiContainer {
	@apply text-7xl bg-gray-100 rounded-md pt-2 select-none text-center w-28 h-28 flex justify-center items-center;
}

.radioGroup {
    display: flex;
    gap: 10px;
}

.hiddenRadio {
    display: none;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #000;
	color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #707070;
}

.button:focus:hover {
	background-color: #e0e0e0;
}

.selected {
    background-color: #e0e0e0;
    color: black;
    border-color: #e0e0e0;
}
