.tetrisGrid {
	@apply bg-white;
	display: grid;
	grid-template-rows: repeat(20, 30px); /* 20 rows, each 30px high */
}

.row {
	grid-template-columns: repeat(10, 30px); /* 10 columns, each 30px wide */
	display: grid;
}

.cell {
	@apply border-slate-300;
	border: 1px solid black;
	/* box-sizing: border-box; */
}

.emojiContainer {
	@apply text-8xl bg-slate-100 px-3 py-6 rounded-xl cursor-pointer select-none;
}