.tetrisGrid {
	@apply bg-slate-900;
	display: grid;
	grid-template-rows: repeat(20, 32px); /* 20 rows, each 30px high */
}

.othersTetrisGrid {
	@apply bg-slate-900;
	display: grid;
	grid-template-rows: repeat(20, 12px);
}

.othersRow {
	@apply rounded-xl;
	grid-template-columns: repeat(10, 12px);
	display: grid;
}

.row {
	@apply rounded-xl;
	grid-template-columns: repeat(10, 32px); /* 10 columns, each 30px wide */
	display: grid;
}

.cell {
	@apply border-2 border-slate-300;
	border-color: rgba(203, 213, 225, 0.3);
	/* box-sizing: border-box; */
}