.tetrisGrid {
	display: grid;
	grid-template-rows: repeat(20, 1.5vw); /* 20 rows, each 30px high */
	gap: 0.35vw;
}

.row {
	@apply rounded-xl;
	grid-template-columns: repeat(10, 1.5vw); /* 10 columns, each 30px wide */
	display: grid;
	gap: 0.3vw;
}

.othersTetrisGrid {
	display: grid;
	grid-template-rows: repeat(20, 0.5vw);
}

.othersRow {
	@apply rounded-xl;
	grid-template-columns: repeat(10, 0.5vw);
	display: grid;
}

.cell {
	@apply border-1 rounded-full shadow-lg border-opacity-60;
}